<div class="basket ">
  <div class="flex items-center align-middle pb-[2rem]">
    <div class="flex justify-center items-center bg-gradient-to-tr
  from-gradientColor-darkAugusteal
  to-gradientColor-augusteal mr-2 min-h-[2rem] max-h-[2rem] min-w-[2rem] max-w-[2rem] rounded-md">
      <i class="fa-solid fa-heart text-white"></i>
    </div>
    <h2 class="text-start !m-0">Shopping Cart</h2>
  </div>
  <div class="basket-container">
    <div class="basket-summary">
      <app-basket-summary class="w-full"/>
    </div>
    <div class="basket-totals">
      <app-basket-totals class="w-full h-full"/>
    </div>
  </div>
</div>
