<mat-card class="item-card">
  <img mat-card-image src="https://media.seudinheiro.com/uploads/2023/10/iPhone-15-General-Feature-Black.jpg" alt="Iphone 15">
  <mat-card-content class="card-content">
    <div class="card-info">
      <mat-card-title>Product</mat-card-title>
      <mat-card-subtitle>Product Description</mat-card-subtitle>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to Basket</button>
    <button mat-button>View</button>
  </mat-card-actions>
</mat-card>
