<div class="item-card">
  <div class="item-img-container">
    <img class="rounded-t-lg" src="./assets/images/iPhone-15-General-Feature-Black.webp" alt="Iphone 15">
  </div>
    <div class="card-info">
      <h1 class="!mb-1">Product</h1>
      <h2 class="!mb-7 !opacity-70 !text-base">Product Description</h2>
      <div class="card-buttons">
        <button class="basket-button">Add to Basket</button>
        <button class="view-button" routerLink="/item-details">View</button>
      </div>
    </div>
</div>

