.item-card {
  @apply
  bg-white
  shadow-lg
  overflow-hidden
  transition
  hover:scale-110
  hover:cursor-pointer;
}

.card-info {
  @apply
  p-6
  text-teal-800;
}

.card-buttons {
  @apply
  flex
  flex-row
  gap-5;
}

.basket-button {
  @apply
  bg-amber-500
  transition
  hover:opacity-70
  hover:scale-105
  p-2
  rounded-md
  text-white
}

.view-button {
  @apply
  transition
  hover:bg-gray-200
  hover:scale-105
  rounded-md
  p-2
}
