.credit-card-container {
  @apply
  flex
  flex-row
  max-h-[70vh]
  items-start
  justify-between
  min-w-full
  max-w-full
  py-5;
}

.card-control {
  @apply
  flex
  flex-col
  w-full
  py-2
}

label {
  @apply
  block
  text-teal-900
  text-sm
  font-bold
  mb-2
}

.form-input {
  @apply
  shadow
  appearance-none
  border
  rounded-md
  w-full
  py-2 px-3
  text-gray-700
  leading-tight
  focus:border-teal-700
  focus:scale-[102%]
  transition
}

.payment-form {
  @apply
  w-full
}

.card-image {
  @apply
  min-h-[30px]
  max-h-[30px]
}

.card-input {
  @apply
  flex
  items-center
  max-h-full
  min-h-full
  w-full
  gap-2
}

input:focus:invalid {
  @apply
  border-red-300
  bg-red-100
}

input:valid {
  @apply
  border-teal-700
}
