<table class="border border-separate">
  <thead>
  <tr>
    <td></td>
    <td class="product-title">Product</td>
    <td class="product-price">Price</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  @for(){
    <tr>
      <td><img alt="keyboard-hyperx" class="h-[75px] w-[75px] rounded-md border border-solid border-slate-300 shadow-md"
               height="1600" ngSrc="../../../../assets/images/keyboard-hyperx.webp"
               width="1600"></td>
      <td><a href="" routerLink="/item-details">HyperX Keyboard</a></td>
      <td>$150.00</td>
      <td>
        <button class="cart-button">
          <p class="!m-0">Add to cart</p>
        </button>
      </td>
    </tr>
  }
  </tbody>
</table>
