select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;
  @apply
  text-slate-700
}

.stepper-buttons {
  @apply
  flex
  justify-between
  items-center
  mt-2
}

.summary-button {
  @apply
  max-w-[10rem]
  self-end
  p-2
  rounded-lg
  text-white
  bg-slate-300
  flex items-center gap-2;

  &.active {
    @apply
    bg-teal-800
    hover:bg-teal-900;
  }
;

  p {
    @apply
    m-0
  }
}

.mailing-button {
  @apply
  max-w-[10rem]
  self-end
  p-2
  rounded-lg
  text-white
  bg-teal-800
  hover:bg-teal-900
  flex items-center gap-2;
}

.payment-form {
  @apply
  flex
  flex-col
  justify-between
  min-h-full
  min-w-full
}
