:host {
  @apply
  flex
  flex-col
  min-h-screen;
}

main {
  @apply
  max-w-[100%]
  overflow-x-hidden;
}

.main-content {
  @apply
  max-w-full
  min-w-full
  flex
  flex-col
  justify-center

  md:min-w-[80%]
  md:max-w-[80%];
}

.sidebar {
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
