:host {
  @apply
  flex
  min-h-screen;
}

main {
  @apply
  max-w-[100%]
  overflow-x-hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


