<div class="basket-totals-container">
  <div class="basket-totals-info">
    <h2>Cart Totals</h2>
    <ul>
      <li class="subtotal-container">
        <p>Subtotal</p>
        <p>$990.00</p>
      </li>
      <li class="shipping-container">
        <p>Shipping</p>
        <p>$10.00</p>
      </li>
    </ul>
  </div>
  <div class="basket-total">
    <div class="flex flex-row justify-between">
      <p>Total</p>
      <p>$1000.00</p>
    </div>
    <button class="bg-white text-amber-600 p-2 rounded-md hover:bg-amber-600 hover:text-white transition">
      <h2 class="!m-0">Checkout</h2>
    </button>
  </div>
</div>
