<div class="container-fluid">
  <div class="row">
    <main class="col-8 px-0">
      <swiper-container appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".thumb-container" class="image-container" (slidechange)="slideChange($event)">
        <swiper-slide *ngFor="let item of categories;">
          <div class="ratio ratio-16x9">
            <img src="{{item.imageUrl}}" alt="{{item.name}}">
          </div>
        </swiper-slide>
      </swiper-container>
      <swiper-container appSwiper #swiperThumbs [config]="swiperThumbsConfig" class="thumb-container" *ngIf="categories.length > 1">
        <swiper-slide *ngFor="let item of categories; let i = index;">
          <div class="ratio ratio-1x1" role="button">
            <img src="{{item.imageUrl}}" alt="{{item.name}}">
            <h1 class="text-slate-500 !mt-6 !text-lg" [class.text-teal-700]="index === i" >{{item.name}}</h1>
          </div>
        </swiper-slide>
      </swiper-container>
    </main>
  </div>
</div>
