.image-container {
  --swiper-theme-color: #13beb2;
  --swiper-navigation-sides-offset: 3rem;
  --swiper-pagination-bottom: 1.5rem;
  @apply
  w-full
  mb-10;

  img {
    @apply
    rounded-lg
    min-h-[500px]
    max-h-[500px]
    min-w-[800px]
    max-w-[800px]
    object-fill
    shadow-md
    border
    border-solid
    border-slate-300;
  }
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

swiper-slide img {
  width: auto;
  height: auto;
  object-fit: fill;
}

.category-tag {
  @apply
  absolute bg-white top-10 md:left-10 rounded-xl p-2 text-teal-800 hover:cursor-pointer;
}

.thumb-container {
  @apply
  w-full;
  img {
    @apply
    rounded-lg
    min-h-[170px]
    max-h-[170px]
  }
}
