<swiper-container class="image-slider"
                  pagination="true"
                  pagination-clickable="true"
                  navigation="true"
                  space-between="30"
                  centered-slides="true"
                  autoplay-delay="3000"
                  effect="cards"
                  autoplay-disable-on-interaction="true"
                  autoplay-pause-on-mouse-enter="true">
  <swiper-slide>
    <img ngSrc="./assets/images/airpods.jpg" alt="keyboard" height="3748" width="5622">
      <h2 class="category-tag">Phones</h2>
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="./assets/images/keyboard.jpg" alt="airpods" height="3840" width="5760">
    <h2 class="category-tag">Keyboards</h2>
  </swiper-slide>
  <swiper-slide>
    <img ngSrc="./assets/images/controller.jpg" alt="controller" height="4000" width="6000">
    <h2 class="category-tag">Gamepads</h2>
  </swiper-slide>
</swiper-container>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

