swiper-container {
  --swiper-theme-color:#FB9E0B;
  @apply
  w-[80%]
  max-w-[1400px]
  h-[400px];
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @apply
  rounded-md;
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-tag {
  @apply
  absolute bg-white top-10 md:left-10 rounded-xl p-2 text-teal-800 hover:cursor-pointer;
}
