swiper-container {
  --swiper-theme-color: #13beb2;
  --swiper-navigation-sides-offset: 3rem;
  --swiper-pagination-bottom: 1.5rem;
  @apply
  w-[80%]
  max-w-[1400px]
  h-[400px];
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @apply
  rounded-md
  shadow-md
  border
  border-solid
  border-slate-300;
}

swiper-slide img {
  width: auto;
  height: auto;
  object-fit: cover;
}

.category-tag {
  @apply
  absolute bg-white top-10 md:left-10 rounded-xl p-2 text-teal-800 hover:cursor-pointer;
}
