<swiper-container autoplay-delay="3000"
                  autoplay-disable-on-interaction="false"
                  autoplay-pause-on-mouse-enter="true"
                  centered-slides="true"
                  class="image-slider"
                  controller-control=".swiper-2"
                  effect="cards"
                  navigation="false"
                  pagination="true"
                  pagination-clickable="true"
                  space-between="60">
  <swiper-slide>
    <img alt="keyboard" fill ngSrc="./assets/images/airpods.jpg" ngSrcset="100w, 200w, 300w" priority sizes="50vw">
    <h2 class="category-tag">Phones</h2>
  </swiper-slide>
  <swiper-slide>
    <img alt="airpods" fill ngSrc="./assets/images/keyboard.jpg" ngSrcset="100w, 200w, 300w" sizes="50vw">
    <h2 class="category-tag">Keyboards</h2>
  </swiper-slide>
  <swiper-slide>
    <img alt="controller" fill ngSrc="./assets/images/controller.jpg" ngSrcset="100w, 200w, 300w" sizes="50vw">
    <h2 class="category-tag">Gamepads</h2>
  </swiper-slide>
</swiper-container>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

