.order-items {
  @apply
  flex
  flex-col
  justify-between
  items-center
  gap-2
  max-h-[200px]
  overflow-y-scroll;


  &::-webkit-scrollbar {
    width: 5px;
  }


  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }


  &::-webkit-scrollbar-thumb {
    @apply
    bg-gradientColor-darkAugusteal;
  }


  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
;
}

.order-item {
  @apply
  flex
  items-center
  gap-6
  bg-slate-200
  text-teal-800
  w-full
  py-2
  pl-2
  pr-4
  rounded-lg
  border border-solid border-slate-100;

  p {
    @apply
    m-0
    text-slate-500
  }

  h3 {
    @apply
    text-sm
    m-0
  }
}

.image-container {
  @apply
  min-h-[50px]
  max-h-[50px]
  min-w-[50px]
  max-w-[50px]
  bg-white
  rounded-md;

  img {
    @apply
    object-cover
    h-[50px]
    w-[50px]
    overflow-hidden
    rounded-md;
  }
}

.buttons-container {
  @apply
  flex
  w-full
  justify-between
  items-center;
}

.order-summary {
  @apply
  flex
  flex-col
  gap-10
  w-full
}

.stepper-button-previous {
  @apply
  max-w-[10rem]
  self-end
  p-2
  transition
  rounded-lg
  text-white
  bg-teal-800
  hover:bg-teal-900;

  p {
    @apply
    m-0
  }
}

.item-info {
  @apply
  flex
  gap-6
  items-center
  min-w-[50%]
  max-w-[50%]
}

.order-submit-button {
  @apply
  max-w-[10rem]
  self-end
  p-2
  transition
  rounded-lg
  text-white
  bg-teal-800
  hover:bg-teal-900;

  p {
    @apply
    m-0
  }
}

.totals-container {
  @apply
  flex
  justify-center
  gap-10
  items-center
  text-center
}

.item-button {
  @apply
  hover:border-b
  hover:border-b-teal-800
  transition
}

:host {
  @apply
  w-full
}

.totals-payment-container {
  @apply
  flex
  items-start
  justify-between;

  h2 {
    @apply
    text-teal-900;
  }

  p {
    @apply
    text-slate-600;
  }
}

.payment-container {
  @apply
  flex
  flex-col
  items-center;
}

.item-category {
  @apply
  flex
  items-center
  justify-center
  min-w-[50%]
  max-w-[50%]
}

.order-shipping-container {
  @apply
  text-center
}

