<form action="." [formGroup]="shippingForm" (ngSubmit)="updateUserAddress()">
  <h1 class="text-teal-800">Mailing Address</h1>
  <span id="message"></span>
  <div class="cep !mb-6">
    <label class="block text-teal-900 text-sm font-bold mb-2">
      CEP
    </label>
    <input class="form-input" id="cep" type="text" placeholder="CEP"
           name="cep" value="" size="10" maxlength="9" (blur)="onCepBlur($event)" formControlName="cep">
  </div>
  <div class="flex flex-col">
    <div class="flex justify-between items-center gap-3 w-full mb-4">
      <div class="state">
        <label class="block text-teal-900 text-sm font-bold mb-2">
          State
        </label>
        <input class="form-input" id="state" type="text" placeholder="State"
               formControlName="state">
      </div>
      <div class="city">
        <label class="block text-teal-900 text-sm font-bold mb-2">
          City
        </label>
        <input class="form-input" id="city" type="text" placeholder="City"
               formControlName="city">
      </div>
    </div>
    <div class="neighborhood !mb-6">
      <label class="block text-teal-900 text-sm font-bold mb-2">
        Neighborhood
      </label>
      <input class="form-input" id="neighborhood" type="text" placeholder="Neighborhood"
             formControlName="neighborhood">
    </div>
    <div class="flex  items-center gap-3 w-full">
      <div class="street w-[70%]">
        <label class="block text-teal-900 text-sm font-bold mb-2">
          Street
        </label>
        <input class="form-input" id="street" type="text" placeholder="Street"
               formControlName="street">
      </div>
      <div class="number w-[30%]">
        <label class="block text-teal-900 text-sm font-bold mb-2">
          Number
        </label>
        <input class="form-input" id="number" type="text" placeholder="Number"
               formControlName="number">
      </div>
    </div>
    <div class="stepper-buttons">
      <button class="address-button" type="submit" [disabled]="!shippingForm.valid" [class.active]="shippingForm.valid">
        <p class="!m-0">Save Address</p>
      </button>
      <button class="payment-button" (click)="goToNextStep()" [disabled]="!shippingForm.valid" [class.active]="shippingForm.valid">
        <p class="!m-0">Go to Payment</p>
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</form>
