swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: fill;
  @apply
  rounded-md
  transition
  hover:scale-105
}

.slide-button {
  @apply
  h-full
  w-full
  text-slate-500 text-lg
  transition
  pt-5;
}

.slide-container {
  @apply
  h-[300px]
  w-full;
}

.active {
  @apply
  text-teal-900;
  p {
    @apply
    scale-105
  }
}

.swiper-container {
  @apply
  flex
  flex-col
  gap-6;
}

.all-products-button {
  @apply
  self-end
  mr-6
  bg-teal-800
  text-white
  p-3
  rounded-lg
}
