<table class="border border-separate mt-16">
  <thead>
  <tr>
    <td></td>
    <td class="product-title">Product</td>
    <td class="product-price">Price</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  @for(item of wishlist.wishlistItems; track item){
    <tr>
      <td><img alt="{{item.productName}}" class="h-[75px] w-[75px] rounded-md object-cover  border-solid border-slate-300 shadow-md"
               height="1600" ngSrc="{{item.productImgUrl}}"
               width="1600"></td>
      <td><a [routerLink]="['/items', item.id]">{{item.productName}}</a></td>
      <td>{{item.price | currency}}</td>
      <td>
        <button class="cart-button">
          <p class="!m-0">Add to cart</p>
        </button>
      </td>
      <td>
        <button >
          <i class="fa-solid fa-circle-xmark text-amber-700 text-lg" (click)="removeItemFromWishlist(item.id)"></i>
        </button>
      </td>
    </tr>
  }
  </tbody>
</table>
