<div class="items-container">
  <div class="items-header">
    <h2>Shopping Cart</h2>
    <h3>1 item</h3>
  </div>
  <div class="basket-item">
    <div class="item-left">
      <div class="item-img-container">
        <img ngSrc="./assets/images/iPhone-15-General-Feature-Black.webp" alt="" height="900" width="1600">
      </div>
      <div class="item-info">
        <h3 class="item-title">Iphone 15</h3>
        <p class="item-price">$990.00</p>
        <p class="item-quantity">Quantity: 1</p>
      </div>
    </div>
    <button>
      <i class="trash-bin fa-solid fa-trash"></i>
    </button>
  </div>
</div>
