<div class="items-container">
  <div class="items-header">
    <h3>{{ basket.basketItems.length }}@if (basket.basketItems.length == 1) {
      item
    } items</h3>
  </div>
  <div class="basket-item-container">
    @for (basketItem of basket.basketItems; track basketItem) {
      <div class="basket-item">
        <div class="item-left">
          <div class="item-img-container">
            <img alt="" height="900" ngSrc="{{basketItem.productImgUrl}}" priority width="1600">
          </div>
          <div class="item-info">
            <h3 class="item-title">{{ basketItem.productName }}</h3>
            <p class="item-price">{{ basketItem.price | currency }}</p>
            <p class="item-quantity">Quantity: {{ basketItem.quantity }}</p>
          </div>
        </div>
        <button>
          <i class="trash-bin fa-solid fa-trash" (click)="removeItemFromBasket(basketItem)"></i>
        </button>
      </div>
    }
  </div>
</div>
