<div class="cart-summary">
  <div class="cart-items-container">
    <h1>Cart Summary</h1>
    @for (item of basket?.basketItems; track $index) {
      <div class="cart-item">
        <p>{{ item.quantity }}x {{ item.productName }}</p>
        <p>{{ item.price * item.quantity | currency }}</p>
      </div>
    }
    <div>
      <form action="" [formGroup]="deliveryMethodForm">
        <div class="shipping-form-container">
          <select name="deliveryMethod" id="deliveryMethod" formControlName="deliveryMethod"
                  (change)="getShippingPrice();">
            <option value="" disabled selected>
              <p>Select your delivery method</p>
            </option>
            @for (deliveryMethod of deliveryMethods; track $index) {
              <option [ngValue]="deliveryMethod" class="w-full">
                <p>{{ deliveryMethod.name }} {{ deliveryMethod.price | currency }} {{ deliveryMethod.deliveryTime }}</p>
              </option>
            }
          </select>
          <button class="save-shipping" (click)="setBasketShippingPrice();" type="submit"
                  [disabled]="!this.deliveryMethodForm.valid" [class.active]="this.deliveryMethodForm.valid">
            <p>Save option</p>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="order-totals">
    @if ((basketTotal$ | async); as basketTotal) {
      <div class="subtotal">
        <p>Subtotal:</p>
        <p>{{ basketTotal.subTotal | currency }}</p>
      </div>
      <div class="shipping">
        <p>Shipping:</p>
        <p>{{ basketTotal.shipping | currency }}</p>
      </div>
      <div class="total">
        <p class="!m-0">Total:</p>
        <p class="!m-0">{{ basketTotal.total | currency }}</p>
      </div>
    }
  </div>
</div>
