<div class="orders">
  <div class="flex items-center align-middle pb-[2rem]">
    <div class="flex justify-center items-center bg-gradient-to-tr
  from-gradientColor-darkAugusteal
  to-gradientColor-augusteal mr-2 min-h-[2rem] max-h-[2rem] min-w-[2rem] max-w-[2rem] rounded-md">
      <i class="fa-solid fa-boxes-stacked text-white"></i>
    </div>
    <h2 class="text-start !m-0">My Orders</h2>
  </div>
  <div class="orders-container">
    @if(false){
      <div class="basket-summary">
      </div>
      <div class="basket-totals">
      </div>
    }
        <div class="empty-orders-message">
          <h2>You have no orders</h2>
          <button class="shop-button" routerLink="/home">Go to the Shop</button>
        </div>
  </div>
</div>
