.orders-container {
  @apply
  flex
  flex-col
  h-[70vh]
  items-center
  mx-20
  p-10
  shadow-lg
  bg-white
  rounded-lg
}

.orders {
  @apply
  flex
  flex-col
  mx-10;
}

.empty-orders-message {
  @apply flex flex-col
  items-center
  justify-center
  w-full h-full;

  h2 {
    @apply
    text-slate-500
  }
}

.shop-button {
  @apply
  bg-teal-800
  text-white
  p-3
  rounded-md
  transition

  hover:scale-105
  hover:bg-teal-900;
}

.orders-header {
  @apply
  flex
  w-full
  items-center
  gap-40
}

.order-details-container {
  @apply
  w-full
}

.table-auto {
  @apply w-full border-collapse border;
}

.table-auto th, .table-auto td {
  @apply border p-2 text-left;
}

.table-auto-row p {
  @apply
  text-slate-500
}

.table-auto th {
  @apply
  bg-slate-200
  text-teal-800;
}

.order-detail-button {
  @apply
  max-w-[10rem]
  p-2
  transition
  rounded-lg
  text-white
  bg-teal-800
  hover:bg-teal-900;

  p {
    @apply
    m-0
  }
}



