<div class="orders">
  <div class="flex items-center align-middle pb-[2rem]">
    <div class="flex justify-center items-center bg-gradient-to-tr
  from-gradientColor-darkAugusteal
  to-gradientColor-augusteal mr-2 min-h-[2rem] max-h-[2rem] min-w-[2rem] max-w-[2rem] rounded-md">
      <i class="fa-solid fa-boxes-stacked text-white"></i>
    </div>
    <h2 class="text-start !m-0">My Orders</h2>
  </div>
  <div class="orders-container">
    @if (orders) {
      <table class="table-auto">
        <thead>
        <tr>
          <th class="border p-2 w-1/6">Date</th>
          <th class="border p-2 w-1/6">Total</th>
          <th class="border p-2 w-1/6">Quantity</th>
          <th class="border p-2 w-1/6">Shipping Method</th>
          <th class="border p-2 w-1/6">Buyer Email</th>
          <th class="border p-2 w-1/6"></th>
        </tr>
        </thead>
        <tbody>
          @for (order of orders; track order) {
            <tr class="table-auto-row">
              <td class="border p-2 w-1/6"><p>{{ order.orderDate }}</p></td>
              <td class="border p-2 w-1/6"><p>{{ order.total | currency }}</p></td>
              <td class="border p-2 w-1/6"><p>{{ order.totalItemQuantity }} items</p></td>
              <td class="border p-2 w-1/6"><p>{{ order.deliveryMethod.name }}</p></td>
              <td class="border p-2 w-1/6"><p>{{ order.buyerEmail }}</p></td>
              <td class="border p-2 w-1/6">
                <div class="flex justify-center items-center">
                  <button [routerLink]="['/order',order.id]" class="order-detail-button">View Order</button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="empty-orders-message">
        <h2>You have no orders</h2>
        <button class="shop-button" routerLink="/home">Go to the Shop</button>
      </div>
    }
  </div>
</div>
