<div class="sidebar-container">
  <div class="sidebar-content">
    <ul class="button-container ">
      <li class="my-2">
        <button class="basket-button"  [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['home']"
                routerLinkActive="active">
          <i class="desktop-icon fa fa-shop fa-sm"></i>
          <p>Products</p>
        </button>
      </li>
      <li class="my-2">
        <button class="basket-button"  [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/basket']"
                routerLinkActive="active">
          <div class="flex items-center justify-center gap-3">
            <i class="desktop-icon fa-solid fa-bag-shopping fa-sm"></i>
            <p>Basket</p>
          </div>
          @if (basket) {
            <div class="basket-count-icon flex items-center gap-2 bg-amber-700 text-white text-base rounded-full px-2">
              <i>{{ basket.basketItems.length }}</i>
            </div>
          }
        </button>
      </li>
      <li class="my-2">
        <button class="basket-button"  [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/wishlist']"
                routerLinkActive="active">
          <i class="desktop-icon fa-solid fa-heart fa-sm"></i>
          <p>Wishlist</p>
        </button>
      </li>
    </ul>
    @if (isLoggedIn$ | async) {
      <div class="drop-up">
        <button class="drop-btn" (click)="toggleDropdown()">
          <i class="fa-solid fa-user"></i>
          <p>{{ userName }}</p>
        </button>
        <div class="drop-up-content">
          <button>
            <i class="fa-solid fa-gear"></i>
            <p>Account Settings</p>
          </button>
          <button>
            <i class="fa-solid fa-boxes-stacked"></i>
            <p>My Orders</p>
          </button>
          <button (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <p>Logout</p>
          </button>
        </div>
      </div>
    } @else {
      <button class="basket-button"  [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['login']"
              routerLinkActive="active">
        <i class="fa-solid fa-right-to-bracket"></i>
        <p>Login</p>
      </button>
    }
  </div>
</div>


