<div class="items-container flex flex-col p-[2rem] ">
  <div class="flex items-center align-middle">
    <div class="flex justify-center items-center bg-gradient-to-tr
  from-gradientColor-darkAugusteal
  to-gradientColor-augusteal mr-2 min-h-[2rem] max-h-[2rem] min-w-[2rem] max-w-[2rem] rounded-md">
      <i class="fa-solid fa-heart text-white"></i>
    </div>
    <h2 class="text-teal-800 !m-0">My Wishlist</h2>
  </div>
  <div class="flex justify-center items-center">
    <app-wishlist-item/>
  </div>
</div>
