<div class="checkout">
  <div class="flex items-center align-middle pb-[2rem]">
    <div class="flex justify-center items-center bg-gradient-to-tr
  from-gradientColor-darkAugusteal
  to-gradientColor-augusteal mr-2 min-h-[2rem] max-h-[2rem] min-w-[2rem] max-w-[2rem] rounded-md">
      <i class="fa-solid fa-boxes-stacked text-white"></i>
    </div>
    <h2 class="text-start !m-0">Checkout</h2>
  </div>

  @if ((stepperStep$ | async) != 3) {
    <div class="checkout-container">
      <div class="stepper-container">
        @if ((stepperStep$ | async) === 1) {
          <app-shipping-form/>
        } @else if ((stepperStep$ | async) === 2) {
          <app-payment-form/>
        }
      </div>
      <div class="cart-container">
        <app-cart-summary/>
      </div>
    </div>
  } @else {
    <div class="checkout-container-last-step">
      <app-order-summary/>
    </div>
  }
</div>


