<form [formGroup]="paymentMethodForm" action="">
  <div class="dropdown">
    <div class="payment-method-input">
      <label class="block text-teal-900 text-sm font-bold mb-2"
        >Payment Method</label
      >
      <select
        formControlName="paymentMethod"
        id="payment-method"
        name="payment-method"
      >
        <option class="!text-slate-300" disabled selected value="">
          Select your payment method
        </option>
        @for (
          paymentMethod of paymentMethods$ | async;
          track paymentMethod.name
        ) {
          <option class="!focus:bg-slate-300" value="{{ paymentMethod.name }}">
            {{ paymentMethod.name }}
          </option>
        }
      </select>
      @if (paymentMethodForm.get("paymentMethod")?.value) {
        <div>
          @if (
            paymentMethodForm.get("paymentMethod")?.value === "Credit Card"
          ) {
            <app-credit-card-form
              (formValidityChanged)="updateFormValidity($event)"
            />
          } @else {
            <app-pix-form />
          }
        </div>
      }
    </div>
  </div>
</form>
