<body class="flex flex-row justify-center items-center backdrop-blur-sm">
<div class="login-form-container">
  <form [formGroup]="form" (ngSubmit)="login()">
    <h1 class="login-title">Welcome back!</h1>
    <div class="mb-6">
      <label class="block text-teal-900 text-sm font-bold mb-2">
        Username
      </label>
      <input class="username-input" id="username" type="text" placeholder="Username" formControlName="username">
    </div>
    <div class="mb-4">
      <label class="block text-teal-900 text-sm font-bold mb-2">
        Password
      </label>
      <input class="password-input" id="password" type="password" placeholder="******************"
             formControlName="password">
    </div>
    @if(errorMessage){
      <div class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    }
    <div class="flex flex-row justify-end">
      <a href="#" class="password-reset-button">Forgot password?</a>
    </div>
    <div class="buttons-container">
      <div class="text-teal-900 transition">
        <p class="!mb-0">New here? </p><a href="" class="hover:underline transition underline-offset-4 !text-amber-600"
                                          [routerLink]="['/register']">Create
        account</a>
      </div>
      <button type="submit" class="login-button" [disabled]="!form.valid">Sign In</button>
    </div>
  </form>
</div>
</body>
