.sidebar-container {
  @apply bg-white h-full w-full sticky top-0 hidden md:flex md:flex-row shadow-lg border-r border-solid border-slate-100;
}

.sidebar-content {
  @apply w-full mx-5 my-5 flex flex-col justify-between text-lg text-white;
}

.home-button,
.basket-button,
.wishlist-button,
.login-button,
.account-button {
  @apply flex items-center gap-3 px-3 h-[3rem] rounded-lg transition hover:scale-105 bg-gray-200 w-full text-teal-700;

  span {
    @apply
    text-gray-500
    text-base
    font-normal
  }
}

.button-container {
  @apply flex flex-col gap-4;
}

.drop-up {
  position: relative;
  display: inline-block;
}

.drop-btn {
  background-color: #ccc;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.drop-up-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 -8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: -120%;
}

.drop-up-content a, .drop-up-content button {
  padding: 12px 16px;
  display: block;
  color: #333;
  text-decoration: none;
}

.drop-up-content a:hover, .drop-up-content button:hover {
  background-color: #f9f9f9;
}

.drop-up:hover .drop-up-content {
  display: block;
}
