<div class="sidebar-container">
  <div class="sidebar-content">
    <ul class="button-container ">
      <li class="my-3">
        <button class="home-button" routerLink="home">
          <i class="desktop-icon fa fa-shop fa-sm"></i>
          <span>Products</span>
        </button>
      </li>
      <li class="my-3">
      <button class="basket-button" routerLink="basket">
        <i class="desktop-icon fa-solid fa-bag-shopping fa-sm"></i>
        <span>Basket</span>
      </button>
      </li>
      <li class="my-3">
        <button class="wishlist-button" routerLink="wishlist">
          <i class="desktop-icon fa-solid fa-heart fa-sm"></i>
          <span>Wishlist</span>
        </button>
      </li>
    </ul>
      <button class="login-button" routerLink="login">
        <i class="fa-solid fa-right-to-bracket"></i>
        <p class="!my-3">Login</p>
      </button>
  </div>
</div>


