<div class="sidebar-container bg-blue-600 h-full w-full flex flex-row">
  <div class="sidebar-content ml-5 mt-5 flex flex-col justify-between">
    <ul class="text-lg text-white">
      <button class="flex items-center gap-3" routerLink="home">
        <i class="fa fa-shop fa-sm"></i>
         <li class="my-5">Products</li>
      </button>
      <button class="flex items-center gap-3" routerLink="basket">
        <i class="fa-solid fa-bag-shopping fa-sm"></i>
        <li class="my-5">Basket</li>
      </button>
      <button class="flex items-center gap-3" routerLink="">
        <i class="fa-solid fa-heart fa-sm"></i>
        <li class="my-5">Wishlist</li>
      </button>
    </ul>
    <div class="sidebar-content-bottom text-lg text-white flex flex-row gap-3  items-center mb-8">
      <i class="fa-solid fa-right-to-bracket"></i>
      <p class="!m-0">Login</p>
    </div>
  </div>

</div>


