.sidebar-container {
  @apply bg-white h-full w-full sticky top-0 hidden md:flex md:flex-row shadow-lg border-r border-solid border-slate-100;
}

.sidebar-content {
  @apply w-full mx-5 my-5 flex flex-col justify-between text-lg text-white;
}

.home-button,
.basket-button,
.wishlist-button,
.login-button,
.account-button {
  @apply flex items-center
  gap-3 px-3
  h-[3rem] w-full
  rounded-lg
  transition
  bg-slate-200
  text-teal-700

  hover:scale-105
  hover:bg-slate-300;

  p {
    @apply
    text-gray-500
    text-base
    font-normal
    m-0;
  }
}

.button-container {
  @apply flex flex-col gap-4;
}

.drop-up {
  @apply
  inline-block
  relative;
}

.drop-btn {
  @apply
  flex items-center gap-3 px-3 h-[3rem] rounded-lg transition bg-slate-200 hover:bg-slate-300 w-full text-teal-800;

  p {
    @apply
    text-slate-500
    text-base
    font-normal
    m-0;
  }
}

.drop-up-content {
  @apply
  hidden
  absolute
  bg-white
  w-full
  bottom-[100%]
  rounded-lg
  shadow-lg border-r border-solid border-slate-200;
  z-index: 1;
}

.drop-up-content button {
  @apply
  flex items-center gap-3 px-3 h-[3rem] rounded-lg transition bg-white hover:bg-slate-300 w-full text-teal-700;

  p {
    @apply
    text-slate-500
    text-base
    font-normal
    m-0;
  }
}


.drop-up-content a:hover, .drop-up-content button:hover {
  @apply
  bg-slate-200
}

.drop-up:hover .drop-up-content {
  @apply
  block;
}
