<div class="footer-container">
  <div class="image-container">
    <img class="logo-img" ngSrc="./assets/images/logo.svg" alt="" height="1080" width="1080">
  </div>
  <div class="copyright-container">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 ">© 2024 <a href="https://www.landoverbaptist.org/" class="hover:underline">WebStore™</a>. All Rights Reserved.</span>
  </div>
  <div class="button-container">
    <button class="footer-item">
      <h3>Contact</h3>
    </button>
    <button class="footer-item">
      <h3>About us</h3>
    </button>
  </div>
</div>
