.footer-item {
  @apply
  text-teal-700
  hover:scale-110
  transition
  w-[120px]
  h-[40px];
}

.footer-container {
  @apply
  flex flex-row items-center justify-center lg:justify-between pt-5 bg-white overflow-hidden shadow-lg px-10 pb-2;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
}

.logo-img {
  @apply
  max-h-[50px]
  max-w-[50px]
}

.footer-item {
  h3{
    @apply
    m-0
    p-0;
  }
}

.copyright-container,
.image-container {
  @apply
  hidden
  md:block;
}


